body {
	font-family: Verdana, Geneva, Arial, 'Lucida Grande',Tahoma, Helvetica, sans-serif;
	background-color: #ffffff;
	margin: 0;
	padding:0;
	font-size:10pt;
	color: #555555;
}
/*standards*/
img {border:0;margin:0;padding:0;}
button,input,select,form,td {
	font-family: Verdana, Geneva, Arial, 'Lucida Grande',Tahoma, Helvetica, sans-serif;
	color:#555555;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
	line-height: 0px;
	height: 0;
	overflow: hidden;
}
/* buttons */
a img:hover {
	position:relative;
	left:1px;
	top:1px;
}
button[ytype]{
	background-position: 5px;
	background-attachment: scroll;
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-right: 5px;
	vertical-align: middle;
	text-align:left;
}
button[ytype="save"]{background-image:url(/images/save.png);}
button[ytype="saveall"]{background-image:url(/images/saveall.png);}
button[ytype="cancel"]{background-image:url(/images/cross.png);}
button[ytype="refresh"],button[ytype="reboot"]{background-image:url(/images/reload.gif);}
button[ytype="record"]{background-image:url(/images/record.png);}
button[ytype="zap"]{background-image:url(/images/zap.png);}
button[ytype="timeup"]{background-image:url(/images/time_up.png);}
button[ytype="timedown"]{background-image:url(/images/time_down.png);}
button[ytype="timeadd"]{background-image:url(/images/time_add.png);}
button[ytype="snapshot"]{background-image:url(/images/snapshot.png);}
button[ytype="clearshot"]{background-image:url(/images/remove.png);}
button[ytype="zoomshot"]{background-image:url(/images/fullscreen.png);}
button[ytype="go"]{background-image:url(/images/accept.png);}
button[ytype="download"]{background-image:url(/images/wget.gif);}
button[ytype="clear"]{background-image:url(/images/remove.png);}
button[ytype="add"]{background-image:url(/images/new.png);}
button[ytype="delete"]{background-image:url(/images/remove.png);}
button[ytype="edit"]{background-image:url(/images/modify.png);}
button[ytype="flash"]{background-image:url(/images/flash.png);}

button[ytype="no"] {
	padding-left: 5px
}

/*TODO: input file*/
button,input[type="button"],input[type="submit"]/*,input[type="file"],input[type="file"] > input[type="button"],input[type="file"] > input[type="text"]*/ {
	height: 22px;
	border: 1px solid #888888;
	background-color: transparent;
	border-radius: 3px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
button:hover,input[type="button"]:hover,input[type="submit"]:hover/*,input[type="file"]:hover*/ {
	position:relative;
	left:1px;
	top:1px;
}
div {
	margin:0;
	padding:0;
}
input[type="text"]:focus,input[type="password"]:focus{
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	margin: 0px;
	background: #ffffcc;
	
}
input[type="text"],input[type="password"],select{
	border: 1px solid #aaaaaa;
	margin: 0px;

}
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */
a {
	color: #555555;
	font-size:10pt;
	text-decoration:none;
}
td {
	color: #555555;
	font-size:10pt;
}
tr {
	color: #555555;
	font-size:10pt;
}
.exlink{
	background:transparent url(/images/exlink.gif) no-repeat scroll left center;
	text-decoration: underline;
	padding-left: 20px;
}
.inlink{
	background:transparent url(/images/inlink.gif) no-repeat scroll left center;
	text-decoration: underline;
	padding-left: 20px;
}
.comment{
	background:transparent url(/images/comment.png) no-repeat scroll left center;
	text-decoration: underline;
	padding-left: 20px;
}
/* primary Navigation */
.y_menu_prim_box {
	margin: 5px;
	font-size: 100.01%;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.y_menu_prim_box_head {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ffffff;
	border-radius: 4px 4px 0 0;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}
.y_menu_prim_box_head_h2 {
	margin: 0;
	padding: 5px 0px 5px;
	color: white;
}
.y_menu_prim_box_body {
	padding: 0 20px 5px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
.y_menu_item {
	margin: 0;
}
.y_menu_prim {
	margin: 0;
	padding: 0;
	list-style: none;
	height: auto;
}
.y_menu_prim li {
	display: inline;
	margin: 0;
	text-align:center;
	font-weight: normal;
	padding: 0em 0.3em;
}
.y_menu_prim_item {
}
.y_menu_prim li a {
	font-size: 11pt;
	text-decoration: none;
}
.y_menu_prim li.selected a {
	background-color: #dee7ec;
	border: 1px solid #6D96A9;
	color: #555555;
}
.y_menu_prim li a:hover {
	color: #FF6600;
}
#box_name {
	font-weight:normal;
	font-size:10pt;
}
/* secondary Navigation */
.y_menu_sec_box {
	margin: 0 0 5px 5px;
	padding: 0;
	font-size: 100.01%;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.y_menu_sec_box_head {
	margin: 0;
	padding: 0;
	background: #ff6600;
	border-radius: 4px 4px 0 0;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}
.y_menu_sec_box_head h2 {
	margin: 0;
	padding: 5px 5px 5px 10px;
	font-family: Arial, 'Lucida Grande',Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}
.y_menu_sec_box_body {
	margin: 0;
	padding: 5px 0 10px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
.y_menu_sec {
	display: block;
	background-repeat: no-repeat;
	margin: 0px;

}
.y_menu_sec ul {
	padding: 0;
	list-style: none;
	margin: 0; 
}

.y_menu_sec li {
	text-align: left;
	margin-bottom: 1px;
	padding-left: 20px;
	color: #555555;
}
.y_menu_sec li a {
	text-decoration: none;
	font-size: 10pt;
}
.y_menu_sec li.plain a {
	color: #555555
}
.y_menu_sec li a:hover {
	color: #FF6600;
}
.y_menu_sec_section {
	margin: 10px 0px 0px 0px;
	padding: 3px 2px 3px 10px;
	background-color: #FFCC99;
	font-size: 10pt;
	font-weight: bold;
}
.y_menu_sec li a.disabled,
.y_menu_sec li a.restricted {
	color: #808080;
	text-decoration:line-through;
}
.y_menu_sec ul li:first-child {
	margin-top: 5px;
}
.y_menu_popup_link {
	float: right;
	margin-right: 15px;
}

.control_icon a img {
	margin: 0 2px;
}

/*work*/
.work_box {
	margin: 0 5px 5px 5px;
	padding: 0;
	font-size: 100.01%;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.work_box_head {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #2188e0;
	border-radius: 4px 4px 0 0;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}
.work_box_head h2,.work_box_head_h2 {
	margin: 0;
	padding: 5px 20px;
	font-family: Arial, 'Lucida Grande',Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}
.work_box_body {
	margin: 0;
	padding: 5px 30px 10px 30px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
.work_box_help {
	float:right;
	width:3em;
	text-align:right;
	font-size: 100.01%;
}
.work_box_help a {
	float:right;
	width:3em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align:right;
}
/*raus
.y_work_table {
	border: 1px dashed #2188e0;
	border-collapse: collapse;
	background: white;
	color: #555555;
	margin:0;
	padding:0;
}*/
/*y_menu*/
/*raus
.y_menu
{
	font-size: 10pt;
	text-align: center;
	border: 1px solid #6D96A9;
	border-collapse: collapse;
	background: #F0FAFF;
	border-spacing: 1px;
	height: auto;
}
.y_menu a:hover
{
	text-decoration:underline;
	font-weight:bold;
}
.y_menu_logo
{
	background-image: url(images/tuxbox3.gif);
	background-position: center;
	background-repeat: no-repeat;
}
*/

/*wait box*/
.y_wait_box {
	margin: 0;
	font-size: 100%;
	position : absolute;
	left : 100px;
	top : 100px;
	visibility : hidden;
	z-index : 500;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.y_wait_box_visible {
	margin: 0;
	font-size: 100%;
	position : absolute;
	left : 100px;
	top : 100px;
	visibility : visible;
	z-index : 500;
	border: 1px solid #a0a0a0;
	border-radius: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.y_wait_box_head {
	margin: 0;
	padding: 0;
	background: #ff6600;
	border-radius: 4px 4px 0 0;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}
.y_wait_box_head h2 {
	margin: 0;
	padding: 5px 20px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}
.y_wait_box_body {
	margin: 0;
	padding: 5px 15px 20px;
	background-color: #ffffff;
	border-radius: 0 0 4px 4px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
}
.y_wait_box_main {
	color: #666666;
	font-weight: bold;
	text-align: center;
}
/**/
/*raus
.y_audio_bar
{
	background: #6D96A9;
}
.y_live_box
{
	border-top: 1px solid #6D96A9;
	font-size: 8pt;

}*/
.y_table,.y_form_table,.y_invisible_table,y_form table {
	color: #555555;
	padding: 0;
	margin: 0;
	border: 0;
	border-spacing: 0px;
	width: 100%;
}
.y_live_button {
	padding: 0;
	color: #555555;
	margin:0;
	border: 0 none;
}
.y_live_bouquets
{
	font-size: 8pt;
	height: 20px;
	width: 300px;
	color: #555555;
}
.y_live_channels
{
	font-size: 8pt;
	height: 20px;
	width: 300px;
	color: #555555;
}
.y_live_audio_pids
{
	font-size: 8pt;
	height: 20px;
	width: 70px;
	color: #555555;
}

.y_topline
{
	border-top: 1px solid #2188e0;
}
.y_form {
	margin:0;
	padding:0;
}
.y_form_header_oline
{
/*	font-size : 12pt;*/
	font-weight:bold;
	color : #555555;
	margin:0;
}
.y_form_header
{
/*	font-size : 12pt;*/
	font-weight:bold;
	margin:0;
	border-bottom : 1px solid #555555;
	color : #555555;
	padding-top:0.5em;
}
.y_form .y_form_header,.y_form .y_form_header_oline {
	padding-left:0px;
/*	margin:0;
	padding:0;*/
}
.y_form td{
	padding-left:20px;
}
.y_form #colorTable td{
	padding-left:0px;
}
.y_form_section
{
	font-size : 10pt;
	font-weight:bold;
	border-bottom : 1px solid #aaaaaa;
	color : #555555;
}
.y_text_boxcontrol_button
{
	padding : 1px;
	border : #FF8e42 solid 1px;
}
.y_text_boxcontrol_button a:hover
{
	background:#FF8e42;
}
.y_text_boxcontrol_table {
	width:114px;
	height: 22px;
	background: url('/images/audiobar.gif') no-repeat 1px 0px;
	padding: 1px;
	margin-top: 10px;
	border: #FF8e42 solid 1px;
}
.y_epg_info {
	border: 1px solid #CCCCCC;
	background-color: white;
}
.y_epg_info #description {
	font-weight:bold;
}
.y_epg_info #info2 {
	font-size:8pt;
}
.channel_logos
{
	max-width:  44px;
	max-height: 40px;
}
#epg_plus {
	border-top : #BBBBBB solid 1px;
	border-left : #BBBBBB solid 1px;
	border-right : #BBBBBB solid 1px;
	margin: 0px;
/*	width:auto;*/
	overflow:auto;
}
.ep_bouquet {
	margin: 0px;
	padding: 0px;
	position:relative;
	border-bottom : #BBBBBB solid 1px;
	min-height: 40px;
}
.ep_bouquet_name {
	border-right : #BBBBBB solid 1px;
	width : 100px;
/*	height: 1.3em;*/
	overflow:hidden;
	padding-left: 1px;
	padding-right: 1px;
	font-size:8pt;
	text-align: center;
	min-height: 40px;
}
.ep_bouquet_item {
	border-right : #BBBBBB solid 1px;
	overflow:hidden;
/*	height: 1.3em;*/
	padding-left: 1px;
	padding-right: 1px;
	height: 100%;
	font-size:8pt;
}
.ep_bouquet_rec {
	border-right : #BBBBBB solid 1px;
	overflow:hidden;
/*	height: 1.3em;*/
	padding-left: 1px;
	padding-right: 1px;
	background-color: #FF6600;
	height: 100%;
	font-size:8pt;
	z-index:10;
	opacity:.20;

	-webkit-opacity: 0.2;
	-moz-opacity: 0.2;
	filter: alpha(opacity=20);
}
.ep_bouquet_zap {
	border-right : #BBBBBB solid 1px;
	overflow:hidden;
/*	height: 1.3em;*/
	padding-left: 1px;
	padding-right: 1px;
	background-color: green;
	height: 100%;
	font-size:8pt;
	z-index:10;
	opacity:.20;

	-webkit-opacity: 0.2;
	-moz-opacity: 0.2;
	filter: alpha(opacity=20);
}
.ep_bouquet_item:hover {
	background-color : #DDDDDD;
}
.ep_time_bar {
	width:100%;
	margin-bottom: 0px;
	position:relative;
	border-bottom : #BBBBBB solid 1px;
}
.ep_time_bar_item {
	font-weight:bold;
	border-right : #BBBBBB solid 1px;
	height: 1.3em;
	padding-left: 1px;
	padding-right: 1px;
	overflow:hidden;
	font-size:8pt;
}
.ep_info_desc {
	font-weight:bold;
	font-size:10pt;
}
.ep_info_info1 {
	font-size:8pt;
}
.ep_info_info2 {
	font-size:10pt;
}
#epg_info {
	border : #999999 solid 1px;
	visibility:hidden;
	display:block;
	z-index: 9980;
	position: absolute;
	background-color: white;
	left: 50px;
	top: 50px;
	width: 600px;
}
#epg_time {
	font-size: 8pt;
	height: 20px;
}
/* bouquet*/
.bouquetlist
{
	border-collapse: collapse;
	color: #436976;
	padding: 3px;
}
tr.bouquetlist
{
}
#bouqueteditorlist {
	width:100%;
	
}
#bouqueteditorlist tr:hover {
	background-color: #dddddd;
	
}
/*channels*/
.bouquetitemlist
{
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.a
{
	background-color: #F0FAFF;
	font-family:Arial,Sans-Serif;
	font-size:11pt;
	border-spacing: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 20px;
	margin:0px;
}
#epglist th { 
	font-weight:bold;
	text-align: center;
	border-bottom : 1px solid #aaaaaa;
}
#epglist tbody tr:hover {
	background-color: #dddddd;
}
.aepg
{
	background-color: #F0FAFF;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}
.b
{
	background-color: white;
	font-size:11pt;
	border-spacing: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 20px;
	margin:0px;
}
.bepg
{
	background-color: white;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}
a:hover.clist
{
	font-size:10pt;
	text-decoration:underline;
}
a:hover.clistsmall
{
	font-size:10pt;
	text-decoration:underline;
}
.c
{
	background-color:#D3E7F8;
	font-weight:bold;
	font-size:11pt;
	padding-left: 10px;
	padding-right: 20px;
	margin:0px;
}
.cepg
{
	background-color:#D3E7F8;
	font-weight:normal;
	font-size:10pt;
	padding-left: 10px;
}
.cslider_table
{
	height: 10px;
	border: 1px solid #6cafea;
	width: 30px;
	border-spacing: 0px;
	padding: 0px;
	border-collapse: collapse;
}
.cslider_used
{
	background-color: #A1CCF2;
	height: 10px;
}
.cslider_free
{
	background-color: #EAEBFF;
	height: 10px;
}
/*EPG*/
.epg
{
	font-weight: bold;
	color: #555555;
	font-size: 12pt;
	clear:both;

}
.epglist
{
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
}
a:hover.elist
{
	font-size:10pt;
	text-decoration:underline;
	font-weight:bold;
}

/*Timer*/
.timer {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border: 0;
	width: 100%;
}
a.timer {
	text-decoration:underline;
}
.atimer {
	background-color: #F0FAFF;
	text-align: center;
}
.btimer {
	font-weight:normal;
	text-align: center;
}
.timer_header td {
	font-weight:bold;
	text-align: center;
	border-bottom : 1px solid #aaaaaa;
}
.timer_footer td {
	font-weight:bold;
	text-align: center;
	border-top : 1px solid #aaaaaa;
}
.blist
{
	white-space: nowrap;
	height: 20px;
}
/*list table*/
.lt_table {
 	width: 100%;
	border-bottom : 1px solid #aaaaaa;
}
.lt_table th {
	font-weight:bold;
	border-bottom : 1px solid #aaaaaa;
	color : #555555;
}
.lt_table td {
	white-space: pre-wrap;
}

/* screenshots */
#screenshot_header {
	height: 30px;
}
td.shot {
	vertical-align: top;
}
img#shot {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #f5f5f5;
	margin: 10px 0;
}
img#shot:hover {
	cursor: pointer;
}
